
body{
	font-family: 'Lato', sans-serif;
	background:url(../img/table.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

.login{
	width:60%;
	margin:20% auto;	
}

.login-menu{
	background: #00ffff;
    padding: 25px;
}

.login-menu img{
	width: 150px;
    margin: 0 auto;
    display: block;
}

.login-menu h2{
	text-align: center;
    font-size: 30px;
}

.form-control {
    width: 90%;
    height: 20px;
    padding: 5px;
    margin: 5px 0px;
}

.btn{
    width: 90%;
    font-style: normal;
    font-size: large;
    background: #A8EB12;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    
}
.btn:hover{
    box-shadow: 4px 4px 5px 1px #ffff;
    cursor: pointer;
}

.password{
	display: block;
}